<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Satyal Learning - Reset Password</title>
  </head>
  <body style='font-family: sans-serif; margin: 0; padding: 0; color: #333;'>
    <div style='background-color: #993333; color: #fff; padding: 20px;'>
      <h1>Satyal Learning - Reset Password</h1>
    </div>
    <div style='padding: 20px; background-color: #f5f5f5;'>
      <p>Hi {{firstName}} {{lastName}},</p>
      <p>We received a request to reset your password for your Satyal Learning account.
        We've sent a one-time password (OTP) to your email address to help you regain
        access.</p>
      <p style='font-weight: bold; font-size: 1.2em; text-align: center;'>Please enter the
        OTP below:</p>
      <p style='text-align: center;'>{{otpCode}}</p>
      <p>This code will expire in
        {{otpExpiry}}
        minutes.
      </p>
    </div>
    <div
      style='background-color: #993333; color: #fff; padding: 20px; text-align: center;'
    >
      <p style='margin: 0;'>&copy; {{year}} Satyal Learning. All Rights Reserved.</p>
    </div>
  </body>
</html>